.body {
	background-color: hsl(210, 46%, 95%);
}

/* .testgrid {
	background-color: hsl(219, 29%, 14%);
} */

.name {
	font-size: 1.3em;
	font-weight: 700;
}

.verified {
	font-size: 1em;
	font-weight: 600;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
